<div class="tech-btm">
    <h4>Mail Bültenine abone olun</h4>
    <p>Teknoloji,yazılım ve diğer bloglar...</p>
    <form method="post">
        <input type="email" id="txtMail" placeholder="Email" required="" name="Mail">
        <input type="submit" id="btn" value="Abone Ol">
    </form>
</div>
<script>
    $("#btn").click(function(){
     debugger;
     let values={
         Mail:$("#txtMail").val()
     };
     
     $.ajax({
         type:"post",
         url:"/NewsLetter/SubscribeMail/",
         data:values,
         success:function(func){
             let result=JQuery.parseJSON(func);
         }
     });
    })
</script>
<script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
